*{
  font-family: Arial;
}
main {
  width: 1280px;
  height: 2000px;
  background-color: rgba(233, 230, 230, 0.5);
}
.project-container{
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: lightgreen;
}
.project-preview-container{
  width: 300px;
}
.project-thumbnail-container{
  size: auto;
}
.project-thumbnail-container i{
  size: auto;
}
.project-info-container {
  display: grid;
  grid-template-columns: 50px 1fr;
  width: 300px;
  background-color: rgb(255, 196, 141);
}
.project-logos-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgb(255, 155, 155);
}
.project-logos-container img{
  height: 15px;
  width: 15px;
  padding-top: 5px;
.project-description{
  font-size: small;
  background-color: rgb(145, 156, 255);
}